<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="assets/js/mousetrap.min.js"></script>
    <script src="assets/js/jquery-3.1.1.min.js"></script>

    <!-- Графический движок -->
    <script src="./node_modules/phaser-ce/build/phaser.js" charset="utf-8"></script>

    <script src="build/bundleGame.js"></script>

    
</head>
<body style="margin: 0px">
    <div id="preloader">
    </div>

    <div class="" style="background-color:#051b3b;">
        {{{body}}}
    </div>

</body>
</html>